body, *{
    margin: 0;
    padding: 0;
}

/** section settings  */
.section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.section__inner{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 104px;
    width: 246px;
    margin: 0 auto;
    padding: 0;
}

/** block settings  */
.block {
    width: 80px;
    height: 80px;
    border: 1px solid green;
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

/** block colors */
.gray {
    background-color: gray;
}
.yellow {
    background-color: yellow;
}
.bisque {
    background-color: bisque;
}


/** block orders  */
.block-1 {
    order: 1;
}

.block-2 {
    order: 4;
}

.block-3 {
    order: 2;
}

.block-4 {
    order: 5;
}

.block-5 {
    order: 3;
}

.block-6 {
    order: 6;
}